main {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 100%;
  padding-block-start: 10%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  flex: 1;
}

.logo {
  height: 2em;
  will-change: filter;
  transition: filter 300ms;
  padding: 0 !important;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

nav {
  display: flex;
  flex-direction: row;
  background-color: #61dafbaa;
  align-items: center;
  padding-inline: 1rem;

  .nav-link {
    color: white;
    font-weight: bold;
    padding: 1rem;

    &:hover {
      background-color: #646cffaa;
    }
  }
}

.wwi-bubble {
  --bottom: 10rem;
  --right: 2rem;
  animation: appear 0.75s 1s cubic-bezier(0.7, 1.83, 0.09, 0.71) forwards;
  position: fixed;
  right: var(--right);
  bottom: var(--bottom);
  opacity: 0;

  .content {
    --mask: radial-gradient(11.18px at 15px 50%, #000 99%, #0000 101%) 0
        calc(50% - 20px) / 51% 40px repeat-y,
      radial-gradient(11.18px at -5px 50%, #0000 99%, #000 101%) 10px 50% /
        calc(51% - 10px) 40px repeat-y,
      radial-gradient(11.18px at calc(100% - 15px) 50%, #000 99%, #0000 101%)
        100% calc(50% - 20px) / 51% 40px repeat-y,
      radial-gradient(11.18px at calc(100% + 5px) 50%, #0000 99%, #000 101%)
        calc(100% - 10px) 50% / calc(51% - 10px) 40px repeat-y;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    -webkit-mask: var(--mask);
    mask: var(--mask);
    position: relative;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgb(212, 20, 90), rgb(251, 176, 59));
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.2rem rgb(251, 176, 59);
    z-index: 100;

    strong {
      &::after,
      &::before {
        content: '”';
      }
    }
  }

  .arrow {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: 2rem;
    bottom: -5rem;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-top: 7rem solid rgb(251, 176, 59);
    rotate: -30deg;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
